<div class="container">
  <mat-card>
    <mat-card-title>Create Talking Point</mat-card-title>
    <form *ngIf="ready" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <ff-input
          type="text"
          label="Presentor"
          [control]="getControl('presentor')"
        ></ff-input>
        <ff-input
          type="text"
          label="Date"
          [control]="getControl('date')"
        ></ff-input>
        <ff-input
          type="text"
          label="YouTube Link"
          [control]="getControl('youtubeLink')"
        ></ff-input>
      </mat-card-content>
      <mat-card-actions>
        <ff-submit [form]="form"></ff-submit>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
