<mat-card>
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-card-content>
            <ff-input type="text" label="Email" [control]="getControl('email')"></ff-input>
            <ff-input type="password" label="Password" [control]="getControl('password')"></ff-input>
            <ff-input type="text" label="First Name" [control]="getControl('firstName')"></ff-input>
            <ff-input type="text" label="Last Name" [control]="getControl('lastName')"></ff-input>
        </mat-card-content>
        <mat-card-actions>
            <ff-submit [form]="form"></ff-submit>
            <a mat-stroked-button color="accent" routerLink="/login">Cancel</a>
        </mat-card-actions>
    </form>
</mat-card>